* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#inicio {
    background-color: #ff8181;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#programas {
    background-color: #6759eb;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calendario {
    background-color: #59e6eb;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sobre {
    background-color: #59eb60;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pedidos {
    background-color: #ddeb59;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}