* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media(max-width: 991px) {
    .sidebar {
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
    }

}





#inicio {
    background-color: #0e0431;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#playbar {
    background-color: #0a0a0a;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}


#programas {
    background-color: #6759eb;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
}

#calendario {
    background-color: #59e6eb;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sobre {
    background-color: #59eb60;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pedidos {
    background-color: #ddeb59;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}